#main-container {
  background-color: rgb(248, 198, 178);
  min-height: 100%;
  gap: 16px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.bgbox {
  height: 100%;
  position: relative;
  /* overflow: hidden; */
}

.circle {
  background-color: #0984e2;
  width: 200px;
  height: 200px;
  position: absolute;
}

#topCircle {
  border-radius: 0 0 0 200px;
  right: 0;
}

#bottomCircle {
  border-radius: 0 200px 0 0;
  bottom: 0;
}

.card {
  background-color: white;
  border-radius: 8px;
  height: 300px;
  padding: 24px;
  padding-top: 0;
  max-width: 20%;
  z-index: 1;
}

.titleNumber {
  position: relative;
  top: -32px;
  background-color: white;
  border-radius: 50%;
  width: 64px;
  line-height: 64px;
  text-align: center;
}

img {
  width: 64px;
}

@media screen and (max-width: 1024px) {
  body {
    height: fit-content;
  }

  #main-container {
    flex-wrap: wrap;
  }

  .card {
    max-width: 40%;
    min-width: 30%;
  }
}

@media screen and (max-width: 640px) {
  #main-container {
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 64px;
  }

  .card {
    min-width: 50%;
    max-width: 70%;
    height: max-content;
    gap: 16px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  /* height: 100%; */
  /* min-height: min-content; */
}

/* Width and Height */
.h-100 {
  height: 100%;
}

.h-20 {
  height: 20vh;
}

.h-2-5-r {
  height: 2.5rem;
}

.h-4-r {
  height: 4rem;
}

.h-8-r {
  height: 8rem;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-20 {
  width: 20%;
}

.w-50 {
  width: 50%;
}

/* Margin */
.m-t-32 {
  margin-top: 32px;
}

.m-t-16 {
  margin-top: 16px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-l-32 {
  margin-left: 32px;
}

.m-lr-a {
  margin-left: auto;
  margin-right: auto;
}

/* Padding */
.p-t-16 {
  padding-top: 16px;
}

.p-b-8 {
  padding-bottom: 8px;
}

.p-l-8 {
  padding-left: 8px;
}

.p-8 {
  padding: 8px;
}

/* Text */
.t-a-c {
  text-align: center;
}

.t-c-w {
  color: white;
}

/* Display */
.f-c {
  display: flex;
  flex-direction: column;
}

.f-r {
  display: flex;
  flex-direction: row;
}

.d-g {
  display: grid;
}

.a-i-c {
  align-items: center;
}

.a-i-fs {
  align-items: flex-start;
}

.a-s-fs {
  align-self: flex-start;
}

.j-c-c {
  justify-content: center;
}

.j-c-fs {
  justify-content: flex-start;
}

.j-c-sb {
  justify-content: space-between;
}

.j-c-se {
  justify-content: space-evenly;
}

.g-8 {
  gap: 8px;
}

.g-16 {
  gap: 16px;
}

/* Border */
.b-r-50p {
  border-radius: 50%;
}

.b-r-16 {
  border-radius: 16px;
}

.b-r-24 {
  border-radius: 24px;
}

.b-r-32 {
  border-radius: 32px;
}

.b-b-w {
  border-bottom: 1px solid white;
}

.b-3-w {
  border: 3px solid white;
}

.b-no {
  border: none;
}

.o-l-n:focus {
  outline: none;
}

/* Color */
.b-g-t {
  background-color: transparent;
}

.b-g-w {
  background-color: rgb(219, 176, 176);
}